# 环境配置
ENVIRONMENT=dev
DRIVER=~fastapi
LOCALSTORE_USE_CWD=true

# 适配器配置
ONEBOT_ACCESS_TOKEN=Phuj_Afujhu~nk6e

# 模型配置
DEEPSEEK_URL_BASE=https://api.deepseek.com
DEEPSEEK_API_KEY=sk-d2de1f3b23934fa188ff93d12ebb1b78
LITELLM_MODEL=deepseek/deepseek-v4-flash

# 记忆配置
MEM0_API_KEY=m0-aXW7e679IpQhNDd1rihKVXsLxnAFEh9bSZHoad7a

# 运行配置
RUN_MODE=prod
HEARTBEAT_INTERVAL=1.0
APP_FRAME_INTERVAL=1.0

# 日志配置
LLM_LOG_QUERY=true
LLM_LOG_RESPONSE=true
CAPABILITY_LOG_EXECUTION=true
LLM_LOG_MAX_CHARS=2000